<!DOCTYPE html>
<style>
    @font-face {
        font-family: Pokefont2;
        src:  url(http://dl.dropbox.com/u/258536/pokefonts/Pokemon%20DPPt.ttf)
    }
    .footer{
        height: 20px;
        position: fixed;
        bottom: 0;
        width: 100%;
        background: linear-gradient(-90deg, yellow, gold); /* Standard syntax */
        font-family: Pokefont2;
        font-size: 15pt;
    }
</style>
<html >
<div class = footer>
    <center>Pokelab Inc.</center>
</div>
</html>