<!DOCTYPE html>
<style>
    .header{
        border-radius: 25px;
        width: 94%;
        padding: 20px;
        height: 150px;
        box-shadow: 10px 10px 5px #222222;
        background: linear-gradient(-90deg, yellow, gold); /* Standard syntax */
        position: fixed;
        z-index: 1000;

    }
</style>
<html >
<center>
<div class = header>
    <center><img  src="http://fontmeme.com/embed.php?text=Pok%E9lab&name=Pokemon Hollow.ttf&size=100&style_color=0900FF" alt="Pokemon Font" ></center>
    <br/>

</div>
</center>

</html>